<h1>Top Secret Posts</h1>

  <body>
    <% @posts.each do |post| %>
      <div style="border:3px; border-style:solid; border-color:#000000; padding: 1em;">
        <% if user_signed_in? %>
          <h3><%= post.user.name %></h3>
        <% else %>
          <h4>*Anonymous*</h4>
        <% end %>
        <p><%= post.post %></p>
      </div>
      <br />
    <% end %>

    <div class="content">
      <% if user_signed_in? %>
          <p>
            <%= link_to 'New Post', new_post_path %>
          </p>
          <p>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </p>
      <% else %>
          <p class="control">
            <%= link_to 'Sign In', new_user_session_path %>
          </p>
					<p class="control">
            <%= link_to 'Sign Up', new_user_registration_path %>
          </p>
      <% end %>
    </div>
  <body>
